body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}


h1 {
    font-size: 280px;
    color: #333;
    margin-bottom: 20px;
}

.commands {
    margin-top: 20px;
}

.command {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.command-details {
    margin-bottom: 10px;
}

.command-number {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
.modal-body {
    display: flex;
}

.info-panel {
    flex: 0 0 40%;
    padding-right: 20px;
}

.table-panel {
    flex: 1;
}














